#include <stdio.h>
#include <stdlib.h>

void swap(int *x, int *y)//pass by reference
{
    int temp;
    temp = *x;
    *x = *y;
    *y = temp;

    return;
}
int main()
{
    int a = 100;
    int b = 200;

    printf("before swap a = %d\n" , a);
    printf("before swap b = %d\n" , b);

    swap(&a , &b);//calling the function to swap the values//passing the address of a and b!!!

    printf("after swap a = %d\n" , a);
    printf("after swap b = %d\n" , b);//should swap the values

    return 0;
}
